.room-container{
    border:1px solid blue;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    flex: 1
}
.chat-message{
    text-align: left;
}
.chat-area{
    overflow-y: auto;
    max-height: 40vh;
}