
.player-list-container{
    border:1px solid blue;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.player-list-title{
    font-size: 20px;
    font-weight: bold;
}
.players-list-area{
    height: 50vh;
    overflow-y: auto;
}
.player-item{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.player-sign{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.player-icon{
    height: 30px;
}
.player-icon-image{
    width: 30px;
    height: 30px;
}